<!DOCTYPE html>
<!-- Created by CodingLab | www.youtube.com/CodingLabYT -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="../static/images/favicon.png">
  <!-- <title> Drop Down Sidebar Menu | CodingLab </title> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include 'sidebar.html' %}
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-chevrons-right'></i>
  </div>
  <div class="separate-content">
<!-- Button Container -->
<div class="button-container">
  <div class="half-button left">URL</div>
  <div class="half-button right">File</div>
</div>

<!-- Unified Popup for Text Input and File Upload -->
<div id="popup" class="popup" style="display:none;">
  <!-- Text Input Content -->
  <div id="textInputContent" style="display:none;">
      <input class="inputTextBox" type="text" placeholder="Enter your text here" />
      <button onclick="submitText()">Submit</button>
  </div>
  <!-- File Upload Content -->
  <div class="fileUploadBox"id="fileUploadContent" style="display:none;">
      <input type="file" />
      <button onclick="submitFile()">Upload</button>
  </div>
</div>

</section>
<script type="text/javascript" src="../static/js/index.js"></script> 
<script type="text/javascript" src="../static/js/sidebar.js"></script> 
</body>
</html>
