<!DOCTYPE html>
<!-- Created by CodingLab | www.youtube.com/CodingLabYT -->
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" href="../static/images/favicon.png">
  <!-- <title> Drop Down Sidebar Menu | CodingLab </title> -->
  <link rel="stylesheet" href="../static/css/style.css">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  {% include 'sidebar.html' %}
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-chevrons-right'></i>
    </div>
    <div class=settings_content>
      <span class="coming_soon">Settings Coming Soon</span>
  </div>
</section>
<script type="text/javascript" src="../static/js/sidebar.js"></script> 
</body>
</html>
