<div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-deezer'></i>
      <span class="logo_name"></span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="/">
          <i class='bx bx-equalizer'></i>
	  <span class="link_name">Separate</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <a href="/tracks">
          <i class='bx bx-headphone'></i>
          <span class="link_name">MIDIfi</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <a href="/remap">
          <i class='bx bx-transfer'></i>
          <span class="link_name">Remap</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <a href="/browser">
          <i class='bx bxs-hdd'></i>
          <span class="link_name">Browser</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <a href="/dashboard">
          <i class='bx bxs-dashboard'></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>
        <a href="/settings">
          <i class='bx bxs-cog'></i>
          <span class="link_name">Settings</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
      <li>   
        <a href="/help">
          <i class='bx bxs-help-circle'></i>
          <span class="link_name">Help</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Category</a></li>
        </ul>
      </li>
    </ul>
  </div>
